body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  hsl(0, 0%, 93%);
  transition: background-color 0.4s;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header, .form, .employees {
  padding: 10px 50px;
}
.employees {
  padding: 20px 10px 10px;
}
.employee {
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);

  padding: 20px;
}
.employee:hover{
  background-color: rgb(196, 196, 196);

}
.employees:hover{

}
.employeeavatar{

  text-align: center;
}
.employees .employeeavatar img {

  padding: 10px;

}

.employees .details h4 {
  max-width: fit-content;

  margin: 10px 0;
}
.employees .details h2 {
max-width: 120px;

}

.employees .details {
  border-radius: 0 0 5px 5px;
  background-color: rgb(219, 219, 219);
  margin: -10px 0 30px;
  padding: 20px;
  color: black;
  transition: background-color 0.4s;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;
  margin-top: 5rem;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color:  hsl(0, 0%, 100%);
  background-color: hsla(34, 100%, 50%, 0.733);
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}
@media (min-width: 640px) {
  .employees {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .employees .details {
    margin: -15px 0 0;
  }
}

@media (min-width: 992px) {
  .employees {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .employees {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 20px;
    padding: 20px 0;
  }

  .form input {
    width: 90vw;
    margin-bottom: 20px;
  }

  .form .select select {
    width: 50vw;
  }
}